@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-color: #26334f;
}
.btn-primary{
    background-color: #26334f;
    border-color:#000;
    width: 100%;
    border-width: 2px;
}
#btnRow{
    padding-bottom: 25px;
}
*:focus {
  outline: none;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active{
  background-color: #151c2c; 
  border-color: #000;
  outline:none;
}
.btn-primary:focus, .btn-primary:active:focus,.btn-primary:hover, .btn-primary.hover {
    background-color: #151c2c;
    border-color: transparent;
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus{
  box-shadow: none;
}
#dataContainer .card-body{
  height:400px;
  overflow-y: auto;
}
#container, #container .highcharts-container {
  height:100%;
}
.errorMessage{
  color:#ff8a90;
  font-size: 14px;
  font-weight: normal;
}

